
@{
    ViewData["Title"] = "Index";
}


<div id="vm" v-cloak>
    <div class="container">
        <h2 class="text-center text-dark text-capitalize w-100">
            Ana Sayfa
        </h2>
        <div class="row">

        </div>
    </div>
</div>

<script>
    const vm = Vue.createApp({

    }).mount('#vm');
</script>
